includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - database
        - tests

    excludePaths:
        - app/Filament
        - app/Http/Controllers/Auth

    checkMissingIterableValueType: false
